body {
    background: #e8e8e8;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    font-family: 'Poppins', sans-serif;
    height: 275px;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in-out;
    background: #e8e8e8;
    box-shadow:  18px 18px 37px #d3d3d3,
    -18px -18px 37px #fdfdfd;
}

.img {
    height: 30%;
    position: absolute;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.textBox {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    transition: 0.2s ease-in-out;
    z-index: 2;
}

.textBox>.text {
    font-weight: bold;
}

.textBox>.head {
    font-size: 16.5px;

}

.textBox>.category {
    font-size: 14.5px;
}

.textBox>span {
    font-size: 15.5px;
    color: rgb(0, 0, 0);
}

.card:hover>.textBox {
    opacity: 1;
}

.card:hover>.img {
    height: 65%;
    filter: blur(7px);
    animation: anim 3s infinite;
}

@keyframes anim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.card:hover {
    transform: scale(1.04) rotate(-1.42069deg);
}